body {
  background-color: white;
}

.product-container {
  display: flex;
  justify-content: space-around;
  width: auto;
  margin: 0 -5px;
}

.product-card {
  border-style: solid;
  border-width: 1px;
  border-color: lightblue;
  box-shadow: 2px 4px 5px gray;
}

.product-header {
font-size: large;
text-align: center;
border-bottom-style: solid;
border-width: 1px;
border-color: lightblue;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.product-description{
  text-align: justify;
  text-justify: inter-;
  font-size: 12pt;
}



h4 {
  font-size: 10pt;
}



.product-card img {
  width: 50%;
  height: 50%;
  align-content: center;
}
