body {
  background-color: white;
}

.product-container {
  display: flex;
  justify-content: space-around;
  width: auto; 
}

.product-card {
  border-style: solid;
  border-width: 1px;
  border-color: lightblue;
  box-shadow: 2px 4px 5px gray;
  margin: 10px 10px;
  background-color: antiquewhite;
}

.product-header {
  font-size: large;
  text-align: center;
  min-height: 90%
  border-bottom-style: solid;
  border-width: 1px;
  border-color: lightblue;
  background-color: tomato;
  color: antiquewhite;
}

img {
  display: block;
  margin: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: 50px; 
  width: 50%;
  height: 50%;
  align-content: center;
}

.product-description{
  text-align: justify;
  text-justify: auto;
  font-size: 12pt;
  margin: 10px;
  font-weight: normal;
}

.availability {
  text-align: center;
  background-color: tomato;
  font-style: bold;
  font-size: 14pt;
  color: antiquewhite;
}

.specifications {
  
}
